.typing1
{
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  margin: 0.5rem auto;
}

.typing1 {
  /* border-right: 2px solid rgba(17, 17, 17, 0.9); */
  /* define animation types for text + cursor */
  animation: animated-text__1 3s steps(30, end) 0.5s 1 normal both,
    animated-cursor__1 900ms steps(30, end) 8;
}


@keyframes animated-cursor__1 {
  from {
    border-right-color: rgb(0, 0, 0);
  }
  to {
    border-right-color: rgb(255, 255, 255);
  }
}

  
  
@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.about-me{
  animation: fadeIn 5s;
  opacity: 0;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { 
      opacity: 1;
  }
}