:root {
    --main-text: rgb(63, 63, 63);
    --main-background: rgb(184, 184, 184);
}

.nav-menu{
    height:6vh;
    width: 100%;
    z-index: 100;
    background-color: rgb(184, 184, 184);
}
#home-btn{
    padding-left: 20px;
    font-size: 18px;
    font-family:"Allerta Stencil";
    color: var(--main-text);
}
.navbar-nav{
    align-items: center;
    text-align: start;
    padding-right: 15px;
}

.nav-item{
    font-size: 18px;
    font-family:"Allerta Stencil";
    right:0px;
}
.navbar-collapse{
    background-color: var(--main-background);
    
}
