.projects-page{
    display: block;
    min-height: 60vh;
    background-color: var(--main-background)
    
}

.projects-page h2{
    font-family:"Allerta Stencil";
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    z-index: 2;
    color: var(--main-text);
}

.filter-container{
    font-size: 12px;
    z-index: 2;

}
.filter-container table{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.filter-container p{
    color:var(--main-text);
    text-align: center;
    justify-content: center;
    width:7.5em;
    font-family:"Allerta Stencil" ;
    margin-top:13px;
    font-size: 12px;
}


.filter-container label{
    margin-right: 13px;
    width: 8em;
    background-color: transparent;
    border:none;
    text-decoration: underline;
    padding:2px 2px 2px;
    border-radius:10px; 

}

.selector:hover{
    background-color: rgb(141, 116, 3);

}


.skills-buttons input[type="checkbox"]{
		opacity: 0;
		position: fixed;
		width: 0;
}

.skills-buttons input[type="checkbox"]:checked + label {
	background: rgb(233, 190, 0);
	color: white;
}
