* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-text: rgb(63, 63, 63);
    --main-background: rgb(184, 184, 184);
}

html {
    scroll-behavior:smooth;
}

